//  Comment
@import "mixins";
@import "variables";

* {
  padding: 0;
  margin: 0;
}

@include link(silver, magenta, blue, green);

.header a {
  @include link(silver, magenta, blue, green);
  background: #000;

  &:visited {
    color: lightpink;
  }
}

#grid {
  float: left;
  width: 100%;

  > div {
    @include grid(4, 3%)
  }
}

@for $i from 24 to 29 {
  .#{$someVar}-#{$i} {
    width: 50px + $i;
    height: 50px + $i;
  }
}

.block:not(.first) {
  @include padd(20px 40px 30px 50px);
  background: $bgcoloor;
  height: 200px;
  border: $border;
  width: $blockwidth;
  margin-bottom: 20px;
}

#central_block {
  padding: 30px;

  ul {
    list-style: none;
    display: inline-block;
  }

  li {
    float: left;
    width: (100% / 4);
    //margin-right: 10px;

    a {
      @include font(maroon, bold);
      //color: $color;

      &:hover {
        color: gold;
      }
    }

    /*
    a:hover {
      color: gold;
    }
    */
  }

}

a {
  @include font(red, light);
  //color: #f00;
}

/*
#central_block > ul {
  list-style: none;
}
*/

.first {
  background: $bgcoloor;
  height: 200px;
  margin-bottom: 20px;
}
